<!DOCTYPE html>
<html>
<head>
    <meta charset=»UTF-8″ />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="js\search.js"></script>
    {% block javascripts %}
    {% endblock %}

</head>
<body>
{% block body %}

    {# TOP MENU #}

    {# SUBMIT LEFT MENU #}
    <div class="head  bg-dark p-4" >
            <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
                <a class="navmenu-brand" href="#">Brand</a>
                <ul style="list-style: none;">
                    <ul class="main-menu">
                        {% import "home/tree.html.twig" as tree %}

                        <ul class="main-menu">
                            {% for category in subCategories[''] %}
                            {{ tree.menu_links(category,subCategories) }}
                            {% endfor %}
                        </ul>
                    </ul>
                </ul>
            </nav>

    {# BLOCK NAVIGATION #}
        <div class="container-fluid" style="display: flex;" >


            <div class="col-md-7" >
                <button type="button" class="navbar-toggle btn btn-warning" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                    <span class="icon-bar ">MENU</span>
                </button>
                <a class="btn btn-primary" href="{{ path('article_panel') }}">Article</a>
                <a class="btn btn-primary" href="{{ path('category_panel') }}">Category</a>
                <a class="btn btn-primary" href="{{ path('Home_global') }}">Home</a>
            </div>

     {#SEARCH#}

            <div class="col-md-3" >
                <form id="search" >
                    <input type="text" id="form" name="form"  />
                </form>
            </div>



    {# SUBMIT LOGIN #}
            <div class="col-md-2" style="color: #C9C9C9">
                {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
                    <p>Hello: {{ app.user.username }}</p>
                    <a href="{{ path('logout') }}">exit</a>
                {% elseif not  is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-primary" href="{{ path('security') }}" >Login</a>
                {% else %}
                {% endif %}
            </div>


        </div>
    </div>



    {# CONTENT VIEW "ARTICLE" #}
    <div class="container-fluid">
        <div id="result" >
            {% for date in date  %}
                <div class="col-12 col-sm-2 col-lg-3  " style="margin:50px;float: left ;height: 100px; overflow: hidden; text-overflow: ellipsis; background: #5bc0de; border-radius: 10px;" >
                    <header>{{ date.title }}</header>
                    <p>{{ date.content }}</p>
                </div>
            {% endfor %}

        </div>
    </div>




{% endblock %}

</body>
</html>


