    {% macro menu_links(category,subCategories) %}

        <li><a href="#">{{ category.title }}</a></li>
        {% import _self as tree %}
        {% if subCategories[category.id] is defined %}
            {% for cat in subCategories[category.id] %}
                {% if cat.id is defined %}
                    {{  tree.menu_links(cat, subCategories) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endmacro menu_links %}
