{% include 'global.view/global.header.html.twig' %}


{% block body  %}


    <div class="addCategory">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('category_create') }}" style="margin: 20px;" class="btn btn-outline-success">Добавить категорию</a>
        {% endif %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        {% for date in date %}
            <tr>
                <th scope="row">
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {{ counter ~ ' '}}
                </th>
                <td>{{ date.title }}</td>
                <td><a href="{{ path('category_edit', {'id': date.id}) }}">Редактировать</a></td>
                <td><a href="{{ path('category_destroy', {'id': date.id})}}" >Удалить</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}