{% include 'global.view/global.header.html.twig' %}

{% block body %}
    <form id="search" >
        <input type="text" id="form" name="form"  />
    </form>


    <div id="result">
        {% for date in date %}
            <div class="res">
                {{ date.title }}
            </div>
        {% endfor %}
    </div>



{% endblock %}
{% block javascripts %}
    <script src="js\search.js"></script>
{% endblock %}