{% include 'global.view/global.header.html.twig' %}


{% block article%}
    <div class="body">
        <div class="col-md-3" >
            <form id="search" >
                <input type="text" id="form" name="form"  />
            </form>
        </div>

        <div class="addarticle">
            <a href="{{ path('article_created') }} " style="margin: 20px;" class="btn btn-outline-success">Добавить новость</a>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody id="result" class="result result-table">
                {% for date in date %}
                    <tr>
                        <th scope="row">
                            {% set counter = ( counter | default(0) ) + 1 %}
                            {{ counter ~ ' '}}
                        </th>
                        <td>{{ date.title }}</td>
                        <td><a href="{{ path('article_edit', {'id': date.id})}}">Редактировать</a></td>
                        <td><a href="{{ path('article_des', {'id': date.id})}}" >Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}
{% block javascripts %}
    <script src="js\search.js"></script>
{% endblock %}


